/* GLOBAL */
project_id = "client-project-id"
region     = "client-region"
vpc_name   = "client-prod-vpc"

/* Subnets */
subnets = [
  {
    subnet_name           = "prod-projectid-pub-us-ct1-subnet"
    subnet_ip             = "10.1.1.0/24"
    subnet_region         = "as-per-client-req"
    subnet_private_access = "true"
    subnet_flow_logs      = "false"
  },
  {
    subnet_name           = "prod-projectid-pvt-us-ct1-subnet"
    subnet_ip             = "10.1.2.0/24"
    subnet_region         = "as-per-client-req"
    subnet_private_access = "true"
    subnet_flow_logs      = "false"
  }
]
